<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collection list</title>
</head>
<body>

<table>
    <tr>
        <td>name</td>
        <td>add</td>
    </tr>
    <tr th:each="collection : ${collections}">
        <td th:text="${collection.name}"><a th:href="@{/collection/{collectionId}(collectionId=${collection.id})}">json</a> </td>
        <td>add new game</td>
    </tr>
</table>
<br>
<form th:method="POST" th:action="@{/collection}" th:object="${collection}">
    <label for="name">Enter the name </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <input type="submit" value="add new collection"/>
</form>
</body>
</html>